.searchResult {
  max-height: 250px;
  overflow-y: auto;
}
.searchResult::-webkit-scrollbar {
  width: 0;
}
.searchResult li:hover {
  background-color: var(--primary);
}
.select {
  background-color: inherit;
  color: inherit;
}
.select option {
  background-color: var(--light);
  color: var(--dark);
}

@media screen and (max-width:765px) {
  .search-engine{
    flex-direction: column;
  }
  .top{
    top: 8rem !important;
  }
}